@{
    ViewBag.Title = "Các Sản Phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageTitle = "Các Sản Phẩm";
}
@model ShopOnline.Models.ProductListFilterViewModel
@Html.HiddenFor(x=>x.FilterCategoryId)
@*<p class="text-muted lead">In our Ladies department we offer wide selection of the best products we have found and carefully selected worldwide. Pellentesque habitant morbi tristique senectus et netuss.</p>*@

                        <div id="products" class="row products">
                            <!-- /.col-md-4 -->
                        </div>
                        <!-- /.products -->

                        


<div class="pages">

    <p class="loadMore">
        <a href="#" id="btn-load-more" class="btn btn-template-main"><i class="fa fa-chevron-down"></i> Xem Thêm</a>
    </p>

    @* <ul class="pagination">
                                <li><a href="#">&laquo;</a>
                                </li>
                                <li class="active"><a href="#">1</a>
                                </li>
                                <li><a href="#">2</a>
                                </li>
                                <li><a href="#">3</a>
                                </li>
                                <li><a href="#">4</a>
                                </li>
                                <li><a href="#">5</a>
                                </li>
                                <li><a href="#">&raquo;</a>
                                </li>
                            </ul>*@
</div>
<@*div class="row">

                            <div class="col-md-12 banner">
                                <a href="#">
                                    <img src="@Url.Content("~/images/img/banner2.jpg")" alt="" class="img-responsive">
                                </a>
                            </div>

                        </@*div>*@
@section scripts
{
    <script src="@Url.Content("~/Content/lazyload/scrollpagination.js")"></script>
     <script src="@Url.Content("~/Scripts/app/front/product.detail.js")"></script>
}
